* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .headerOne {
  height: 45px;
  background: #50806B;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .headerOne p {
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}
header .headerOne .usd {
  display: flex;
  gap: 40px;
}
header .headerOne .usd span {
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}
header .headerTwo {
  height: 60px;
  display: flex;
  background: #FFF;
  justify-content: space-around;
  align-items: center;
}
header .headerTwo span {
  color: #50806B;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
}
header .headerTwo p {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
}
header .headerTwo nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
header .headerTwo nav ul li {
  color: #000;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
header .headerTwo .searchAndKorb {
  display: flex;
  gap: 10px;
}
header .headerTwo .searchAndKorb input {
  border: none;
  width: 63px;
}
header .headerTwo .searchAndKorb input::-moz-placeholder {
  color: #979797;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
header .headerTwo .searchAndKorb input::placeholder {
  color: #979797;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}
header .headerTwo .searchAndKorb .searchImg {
  width: 22px;
  height: 22px;
  margin: auto;
}
header .headerTwo .searchAndKorb .line {
  width: 2px;
  height: 37px;
  background: #979797;
  margin: auto 20px;
}
header .headerTwo .searchAndKorb .korb {
  width: 18px;
  height: 20px;
  margin: auto;
}
header .headerTwo .searchAndKorb .three {
  color: #000;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  margin: auto;
}
header .shop {
  height: 184px;
  background: #E8EDDE;
  padding: 48px 100px;
  display: flex;
  align-items: center;
}
header .shop h1 {
  color: #000;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 1.6px;
}
header .shop .smallBlackLine {
  width: 2px;
  height: 48px;
  background: #000;
  margin: auto 20px;
}
header .shop p {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .popular {
  background: #FFF;
  height: 180px;
  position: relative;
}
header .popular .popularChild {
  position: absolute;
  bottom: 10px;
  right: 70px;
}
header .popular .popularChild img {
  width: 160px;
  height: 37px;
  margin-bottom: 15px;
}

@media screen and (max-width: 950px) {
  header {
    width: 100%;
    overflow-x: hidden;
  }
  header .headerOne, .headerTwo {
    width: 100%;
  }
  header .headerOne p {
    flex-direction: row;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 5px 20%;
  }
  header .headerOne span {
    display: none;
  }
  header .shop {
    flex-direction: column;
  }
  header .shop h1 {
    font-size: 50px;
  }
  header .shop .smallBlackLine {
    display: none;
  }
  header .shop p {
    font-size: 14px;
  }
  header .headerTwo span {
    display: none;
  }
  header .headerTwo p {
    display: none;
  }
  header .headerTwo nav {
    justify-content: center;
    align-items: center;
  }
  header .headerTwo nav ul {
    gap: 30px;
  }
  header .headerTwo nav ul li, a {
    font-size: 18px;
  }
  header .headerTwo .searchAndKorb {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header .headerTwo nav ul li, a {
    font-size: 10px;
  }
  header .headerOne p {
    font-size: 10px;
  }
}
footer {
  background: #E8EDDE;
  padding: 80px 30px;
}
footer .faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

.greenLine {
  background: #50806B;
  text-align: center;
  padding: 10px;
  color: #E8EDDE;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  footer {
    width: 100%;
    overflow-x: hidden;
  }
  footer .faqs {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto-fill;
  }
  .greenLine {
    font-size: 10px;
  }
}
.main {
  display: flex;
  padding: 10px 70px;
  margin-bottom: 100px;
}
.main #firstSection .threeDivs .allCategories {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #E3E5E5;
  background: #FFF;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
}
.main #firstSection .threeDivs .allCategories h4 {
  color: #343434;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.55px;
}
.main #firstSection .threeDivs .allCategories h6 {
  margin-left: 15px;
  margin-bottom: 10px;
  color: rgba(52, 52, 52, 0.6);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.main #firstSection .threeDivs .allCategories h5 {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #343434;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.352px;
}
.main #firstSection .threeDivs .allCategories p {
  margin-left: 40px;
  margin-bottom: 10px;
  color: #343434;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.352px;
}
.main #firstSection .threeDivs .allCategories span {
  margin-left: 40px;
  margin-bottom: 60px;
  color: #343434;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
.main #firstSection .threeDivs .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #E3E5E5;
  background: #FFF;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
}
.main #firstSection .threeDivs .price h4 {
  color: #343434;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.55px;
}
.main #firstSection .threeDivs .include {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
}
.main #firstSection .threeDivs .include h4 {
  margin-bottom: 10px;
}
.main #firstSection .threeDivs .include .circle {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main #firstSection .threeDivs .include .circle img {
  width: 20px;
  height: 20px;
  margin: 5px;
  flex-shrink: 0;
  border-radius: 99px;
  border: 1px solid black;
  background: #FFF;
}
.main #firstSection .threeDivs .include .circle p {
  color: #343434;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.352px;
}
.main #secondSection .topfsCards {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}
.main #secondSection .topfsCards .card {
  background: #FFF;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
}
.main #secondSection .topfsCards .card img {
  border-radius: 8px;
}
.main #secondSection .topfsCards .card p {
  color: #343434;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main #secondSection .topfsCards .card span {
  color: #343434;
}
.main #secondSection .topfsCards .card a {
  border-radius: 8px;
  border: none;
  color: #FFF;
  background: #50806B;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.13);
  padding: 12px 100px;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
  .main #secondSection .topfsCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
  .main #secondSection .topfsCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 800px) and (max-width: 399px) {
  .main {
    padding: 10px 30px;
    width: 100%;
    overflow-x: hidden;
  }
}/*# sourceMappingURL=input2.css.map */