*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

hr{
    color: #D9D9D9;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 50px;
}

nav ul li{
    cursor: pointer;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}

.sign .signUp{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border-radius: 100px;
    background: #FF9C00;
    color: #FFF;
    border: #FFF;
    margin-right: 25px;
}

.sign .signIn{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    border-radius: 100px;
    background: #FFF;
    color: #FF9C00;
    border: 1px solid #FF9C00;
}

.searchLady{
    max-width: 1300px;
    height: 450px;
    background-image: url('lady.svg');
    margin: 50px 100px;
    padding: 130px 95px;
}

.searchLady form{
    position: relative;
    display: inline-block;
}

.searchLady form .h2One, .h2Two{
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    max-width: 580px;
}

.searchLady form .h2Two span{
    color: #FF9C00;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

#searchInput{
    width: 350px;
    height: 45px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.20);
    border: none;
    padding: 14px;
    margin-top: 30px;
    display: block;
}

#searchInput::placeholder{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.searchButton{
    width: 87px;
    height: 35px;
    border-radius: 100px;
    background: #FF9C00;
    color: #FFF;
    border: none;
    position: absolute; top: 123px; right: 42px;
    z-index: 9;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.searchButton:hover{
    background: #fabe5e;
    border: 1px solid #FF9C00;
}

#categories h3{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-left: 100px;
    margin-bottom: 30px;
}

.cards{
    display: flex;
    gap: 25px;
    margin-left: 100px;

}

.cards .cardOne{
    background-color: #f5dd0c;
    width: 170px;
    height: 230px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .cardTwo{
    background-color: #f39704;
    width: 170px;
    height: 230px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.cards .cardThree{
    background-color: #f8f7f5;
    width: 170px;
    height: 230px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cards .cardFour{
    background: url("media-cards/card4.svg");
    width: 170px;
    height: 230px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}

.cards .cardFive{
    background: url("media-cards/card5.svg");
    width: 170px;
    height: 230px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}

.cards .cardSix{
    background: url("media-cards/card6.svg");
    width: 170px;
    height: 230px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    
}

#deals h3{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.divDeals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#deals .divDeals .product-card{
    width: 265px;
    height: 490px;
}

#deals .divDeals .product-card > img {
    width: 265px;
    height: 265px;
    }
    
#deals .divDeals .product-card > h2{ 
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 14px;
    }

#deals .divDeals .product-card > p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

#deals .divDeals .product-card .addButton{
    width: 116px;
    height: 35px;
    border-radius: 100px;
    border: 1px solid #FF9C00;
    background: #FF9C00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    
}