@use 'variables3';
@use 'global3';

header {
    .headerOne {
        height: 45px;
        background: variables3.$main-bg-color;
        display: flex;
        justify-content: space-around;
        align-items: center;
       // text-align: center;
        p {
            color: variables3.$third-color;
            font-family: variables3.$secondary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.5px;
        }
        .usd {
            display: flex;
            gap: 40px;
        span {
            color: variables3.$third-color;
            font-family: variables3.$secondary-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.5px;
        }
    }
    }
    .headerTwo {
        height: 60px;
        display: flex;
        background: variables3.$third-color;
        justify-content: space-around;
        align-items: center;
        span {
            color: variables3.$main-bg-color;
            font-family: variables3.$main-font;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.6px;
        }
        p {
            color: variables3.$fouth-color;
            font-family: variables3.$main-font;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.6px;
        }
        nav {          
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 80px;
                li {
                    color: variables3.$fouth-color;
                    font-family: variables3.$secondary-font;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.6px;
                }
                a {
                    color: variables3.$fouth-color;
                    font-family: variables3.$secondary-font;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.6px;
                    text-decoration: none;
                }
            }
        }
        .searchAndKorb {
            display: flex;
            gap: 10px;
            input {
                border: none;
                width: 63px;
            }
            input::placeholder {
                color: #979797;
                font-family: variables3.$secondary-font;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.6px;
            }
            .searchImg {
                width: 22px;
                height: 22px;
                margin: auto;
            }
            .line {
                width: 2px;
                height: 37px;
                background: #979797;
                margin: auto 20px;
            }
            .korb {
                width: 18px;
                height: 20px;
                margin: auto;
            }
            .three {
                color: variables3.$fouth-color;
                font-family: variables3.$secondary-font;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.6px;
                margin: auto;
            }
        }
    }
    .headerPlant {
        //width: 100%;
        height: 184px;
        background: variables3.$secondary-bg-color;
        padding: 48px 100px;
        display: flex;
        align-items: center;
        h1 {
            color: variables3.$fouth-color;
            font-family: variables3.$main-font;
            font-size: 80px;
            font-style: normal;
            font-weight: 400;
            line-height: 80px; 
            letter-spacing: 1.6px;
        }
        .smallBlackLine {
            width: 2px;
            height: 58px;
            background: variables3.$fouth-color;
            margin: auto 20px;
        }
        p {
            color: variables3.$fouth-color;
            font-family: variables3.$main-font;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .backTo {
        background: variables3.$third-color;
        height: 100px;
        padding: 20px 80px;
       
        .backToSearch {
            display: flex;
            align-items: center;
                
        img {
            width: 22px;
            height: 12px;
        }
        a {
            color: rgba(0, 0, 0, 0.50);
            font-family: variables3.$main-font;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }
    }
}


@media screen and (max-width: 950px) {
    header {
        width: 100%;
        overflow-x:hidden;
    }
    header .headerOne, .headerTwo {
        width: 100%;
    }
    header .headerOne p {
        flex-direction: row;
        font-size: 16px;
        justify-content: center;
        text-align: center;
        padding: 5px 20%;
    }
    header .headerOne span {
        display: none;
    }
    header .headerPlant {
        flex-direction: column;
    }

    header .headerPlant h1 {
        font-size: 50px;
    }

    header .headerPlant .smallBlackLine {
        display: none;
    }

    header .headerPlant p {
        font-size: 13px;
    }

    header .headerTwo span {
        display: none;
      }
    header .headerTwo p {
        display: none;
      }
      header .headerTwo nav {
        justify-content: center;
        align-items: center;
      }
    header .headerTwo nav ul {
        gap: 30px;
      }
    header .headerTwo nav ul a, li {
        font-size: 18px;
       
      }
    header .headerTwo .searchAndKorb {
        display: none;
      
      }
}

@media screen and (max-width: 400px) {
    header .headerTwo nav ul li, a {
        font-size: 10px;
       }
    header .headerOne p {
        font-size: 10px;
    }
}

// @media screen and (max-width: 950px) {
//     header {
//         width: 100%;
//         overflow-x:hidden;
//     }
//     header .headerOne, .headerTwo {
//         width: 100%;
//     }
//     header .headerOne p {
//         flex-direction: row;
//         font-size: 16px;
//         justify-content: center;
//         text-align: center;
//         padding: 5px 20%;
//     }
//     header .headerOne span {
//         display: none;
//     }
//     // header .headerTwo {
//     //     padding: 30px 50px;
//     //   //  height: 70px;
//     // }

//     header .headerTwo span {
//         display: none;
//       }
//     header .headerTwo p {
//         display: none;
//       }
//       header .headerTwo nav {
//         justify-content: center;
//         align-items: center;
//       }
//     header .headerTwo nav ul {
//         gap: 30px;
//       }
//     header .headerTwo nav ul li {
//         font-size: 18px;
//        // margin-left: 30%;
//       }
//     header .headerTwo .searchAndKorb {
//         display: none;
//       // visibility: hidden;
//       }
// }

// @media screen and (max-width: 400px) {
//     header .headerTwo nav ul li {
//         font-size: 10px;
//        }
//     header .headerOne p {
//         font-size: 10px;
//     }
// }